{% extends "madmusic/base.html" %}
{% load wagtailcore_tags static %}

{% block title %}{{ page.title }} - ICCMU - Instituto Complutense de Ciencias Musicales{% endblock %}

{% block content %}
<style>
    #tools h2 {
        text-align: center !important;
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        margin-bottom: 30px !important;
        margin-top: 20px !important;
        font-size: 32px !important;
        font-weight: 700 !important;
        line-height: 1.2 !important;
    }
    #tools h2 span {
        color: #d11922 !important;
        display: inline-block !important;
    }
    #tools .col-md-10 {
        text-align: left;
    }
</style>
<section id="tools" style="margin-top: 0; padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% if page.intro %}
                    {{ page.intro|richtext }}
                {% endif %}
                
                <p style="margin-top: 30px; text-align: center;">
                    <a href="{% static 'madmusic/images/banner-logos.png' %}">
                        <img src="{% static 'madmusic/images/banner-logos.png' %}" alt="Logos" style="max-width: 100%; height: auto;">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

{% comment %} Mostrar noticias destacadas desde Wagtail {% endcomment %}
{% load wagtailcore_tags %}
{% with featured_news=page.specific.get_featured_news %}
    {% if featured_news %}
    <section id="teasers">
        <div class="container">
            <div class="row">
                {% for news_page in featured_news %}
                <div class="col-md-12 con">
                    <a href="{% pageurl news_page %}">
                        <div class="iccmuteaser">
                            {% if news_page.featured_image %}
                            <div class="img-container">
                                <img src="{{ news_page.featured_image.url }}" alt="{{ news_page.title }}" class="attachment-iccmu_medium size-iccmu_medium wp-post-image">
                            </div>
                            {% endif %}
                            <div class="text-container">
                                <h1 class="title">{{ news_page.title }}</h1>
                                <p class="date">
                                    {% if news_page.date %}
                                        {{ news_page.date|date:"d" }} de {{ news_page.date|date:"F" }} de {{ news_page.date|date:"Y" }}
                                    {% endif %}
                                    {% if news_page.intro %}
                                    <p class="description">
                                        {{ news_page.intro|truncatewords:30 }}
                                    </p>
                                    {% endif %}
                                    <a href="{% pageurl news_page %}">
                                        <span class="know_more">Leer más</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endwith %}

<section id="master">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-0 col-xs-12 col-md-10 col-md-offset-1">
                <a href="http://mastergestioncultural.org" title="Máster en Gestión Cultural: Música, Teatro y Danza">
                    <img alt="Título Propio de la Universidad Complutense de Madrid" src="{% static 'madmusic/images/logo_master_2x.png' %}" width="100">
                </a>
                <h3 class="title">Máster en Gestión Cultural: Música, Teatro y Danza</h3>
                <h6 class="subtitle">Título Propio de la Universidad Complutense de Madrid</h6>
                <hr>
                <p>Máster número 1 en España durante 13 años consecutivos</p>
                <p>Desde 1992</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

